@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: hsl(47, 88%, 63%);
    --secodary-color: hsl(0, 0%, 100%);
    --p-color: hsl(0, 0%, 7%);
    --tittle-color: hsl(0, 0%, 42%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--primary-color);
}

main {
    font-family: 'Figtree', sans-serif;
    background-color: var(--secodary-color);
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 0px  black;
    width: 320px;
    height: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

main img {
    width: 320px;
    border-radius: 10px;
}

main p, h2 {
    padding-top: 20px;
    
}

main > p > img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding-right: 10px;
}

p#learning {

    background-color: var(--primary-color);
    margin-top: 20px;
    padding: 5px 10px;
    width: 65px;
    border-radius: 5px;
}

main p {
    color: var(--p-color);
}

main h2:hover {
    color: var(--primary-color);
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


