@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: hsl(47, 88%, 63%);
    --secodary-color: hsl(0, 0%, 100%);
    --p-color: hsl(0, 0%, 7%);
    --tittle-color: hsl(0, 0%, 42%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: 1fr 20px;
    height: 100vh;
}

main {
    font-family: 'Figtree', sans-serif;
    background-color: var(--secodary-color);
    padding: 1.25em;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 0px  black;
    width: 320px;
    height: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    grid-row: 1/2;
}

main img {
    width: 320px;
    border-radius: 10px;
}

h1 {
    font-size: 1.5em;
    font-weight: 900;
}

main p, h1 {
    padding-top: 1em;
}

main > p > img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding-right: 0.65em;
}

p.learning {
    background-color: var(--primary-color);
    margin-top: 1.25em;
    padding: 0.3em 0.625em;
    width: 65px;
    border-radius: 5px;
}

main p {
    color: var(--p-color);
}

main h1:hover {
    color: var(--primary-color);
}

footer {
    grid-row: 2/3;
    align-content: center;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%);}